$white: #fff;
$orange: #f07600;
$light-orange: #fcf0e5;

html {
  height: 100%;
  font-size: 62.5%;
}
body {
  height: 100%;
  font-size: 1.4rem;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
